services:
  backend-app:
    container_name: avito-back
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./config:/config
    networks:
      - main
    depends_on:
      db:
        condition: service_healthy
    environment:
      - CONFIG_PATH=/config/config.yaml
      - DB_HOST=db
      - DB_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: on-failure
    healthcheck:
      test: [ "CMD-SHELL", "ping -c 1 db >/dev/null 2>&1 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5



  db:
    container_name: postgres_db
    image: postgres:16
    ports:
      - "5432:5432"
    networks:
      - main
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  swagger-ui:
    container_name: swagger-ui
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON: /spec/openapi.yml
    volumes:
      - ./api:/spec
    networks:
      - main
    depends_on:
      - backend-app
    restart: unless-stopped
networks:
  main:

volumes:
  postgres_data:
